@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ececec;
  font-family: 'Shadows Into Light', cursive;
  color: #333;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}

.header-wrap {
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  font-size: 70px;
  padding-top: 15px;
  padding-left: 40px;
}

.header-logo a {
  text-decoration: none;
  color: #000;
}

.header-logo a:hover {
  font-weight: bold;
}

.header-nav {
  width: 70%;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-nav ul li {
  padding-right: 20px;
}

.header-nav ul a {
  text-transform: lowercase;
  text-decoration: none;
  color: #000;
  font-size: 26px;
}

.header-nav ul a:hover {
  font-weight: bold;
}

.calculator__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.calculator h1 {
  width: 100%;
  text-align: center;
  font-size: 70px;
  margin-top: 30px;
}

.calculator__block {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  margin: 30px 0 50px 0;
  max-width: 500px;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  position: relative;
}

.calculator__block:hover .btn__open--tip {
  opacity: 1;
}

.calculator__display {
  position: relative;
}

.calculator__display input {
  width: 100%;
  border: 1px solid;
  border-top: 0;
  height: 60px;
  background-color: #333;
  color: #fff;
  font-size: 60px;
  padding-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: right;
  font-family: 'Shadows Into Light', cursive;
}

.calculator__display input:nth-child(1) {
  height: 50px;
  margin: 0;
  font-size: 30px;
  text-align: left;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.calculator .btn__open--tip {
  position: absolute;
  cursor: pointer;
  top: 20px;
  width: 15px;
  font-size: 25px;
  z-index: 10;
  height: 30px;
  font-weight: bold;
  text-align: center;
  right: 16px;
  color: #fff;
}

.calculator__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.calculator__operations--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator__operations--top .calculator__operation {
  cursor: pointer;
  font-size: 30px;
  padding-top: 5px;
  text-align: center;
  width: 75px;
}

.calculator__operations--top .calculator__operation:hover {
  background: #7c7c7c3d;
}

.calculator__operations--top .calculator__operation:nth-child(1):hover {
  background: #ff0000;
}

.calculator__operations--top .calculator__operation:nth-child(2):hover {
  background: #ff0000;
}

.calculator__operations--top .calculator__operation:nth-child(5) {
  font-size: 40px;
  padding: 0;
}

.calculator__operations--side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculator__operations--side .calculator__operation {
  padding: 0;
  margin-bottom: 10px;
  font-size: 50px;
  text-align: center;
  width: 95px;
  height: 60px;
}

.calculator__operations--side .calculator__operation:hover {
  background: #7c7c7c3d;
  cursor: pointer;
}

.calculator__operations--side .calculator__operation:nth-child(3) {
  font-size: 100px;
  margin: 0;
  height: 130px;
}

.calculator__operations--side .calculator__operation:nth-child(3):hover {
  background: #0045ff99;
}

.calculator__operation {
  width: 50px;
  height: 40px;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
}

.calculator__numbers {
  width: 385px;
  height: 100%;
  display: inline-block;
}

.calculator__number {
  cursor: pointer;
  width: 120px;
  font-size: 25px;
  font-size: 60px;
  height: 60px;
  text-align: center;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
}

.calculator__number:hover {
  background: #7c7c7c3d;
}

.calculator__number:nth-child(10) {
  width: 248px;
}

.calculator__tip {
  margin-top: 55px;
  max-width: 350px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  background: #fff;
  border-radius: 5px;
  position: absolute;
  padding: 20px;
  opacity: 0;
  left: -2000px;
}

.calculator__tip .btn__close--tip {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 10px;
}

.calculator__tip .btn__close--tip:hover {
  cursor: pointer;
}

.calculator__tip .btn__close--tip:hover div {
  height: 4px;
}

.calculator__tip .btn__close--tip div {
  position: absolute;
  height: 3px;
  border-radius: 50px;
  width: 30px;
  top: 15px;
  background-color: #333;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.calculator__tip .btn__close--tip div:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.calculator__tip h2 {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 30px;
}

.calculator__tip p {
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 8px;
}

.calculator__tip p span {
  font-weight: bold;
  font-size: 28px;
}
/*# sourceMappingURL=main.css.map */